<!DOCTYPE html>
<html>
  <head>
    <title>Bikehub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= button_to "Home", root_path %>
    <%= button_to "Rides Index", all_rides_path %>
    <% if session[:user_id] %>
      <%= button_to "Profile", profile_path(session[:user_id]) %>
      <%= button_to "Logout", logout_path %>
    <% end %>
  </body>
</html>
