<h1><%= "#{@user.username}'s Profile"%></h1>

<h3>Profile:</h3>
<p><%= "#{@user.profile}"%></p>


<h3>Bikes</h3>
<ul>
    <% @bikes.each do |bike| %>
        <li><%= image_tag bike.image_url %> <%= "#{bike.manufacturer_name} #{bike.frame_model}" %> </li>
    <% end %>
</ul>
<%= button_to "Add a bike", new_bike_path, method: :get %>

<h3>Rides</h3>
<% if @rides.empty? %>
    <p>No rides recorded!</p>
<% end %>
<ul>
    <% @rides.each do |ride| %>
        <li><%= link_to ride.id, ride %></li>
    <% end %>
</ul>

<%= button_to "Add a ride", new_ride_path, method: :get %>
