<!DOCTYPE html>
<html>
  <head>
    <title>Bikehub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <table>
      <tr><%= button_to "Home", root_path, method: :get %></tr>
      <tr><%= button_to "Rides Index", all_rides_path, method: :get %></tr>
      <% if session[:user_id] %>
        <tr><%= button_to "Profile", profile_path(session[:user_id]) %></tr>
        <tr><%= button_to "Logout", logout_path %></tr>
      <% end %>
    </table>
    <%= yield %>
  </body>
  <footer class="bottom_bar">
      Made with great pain by strangrjrjr.
  </footer>
</html>
